.logo-nama{
    color: white;
    padding-top: 30px;
}
.logo-atas{
    width: 100px;
}
.nama-atas{
    margin-left: 10px;
    width: 180px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}
