
.footer-login-atas{
    background-color: black;
    height: 230px;
    margin-top: 100px;
    padding: 50px 100px;
}
.footer-login-bawah{
    background-color: #454140;
    padding: 20px 100px;
    color: white;
    text-align: left;
}
.p-copyright{
    margin-top: auto!important;
    margin-bottom: auto!important;
    font-family: IBM Plex Sans;
    font-size: 12px;
}
.alamat-footer{
    color: white;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-family: IBM Plex Sans;
    font-size: 12px;
    
}
.img-footer{
    width: 30px;
    margin-right: 10px;
}
.medsos-footer{
    color: white;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
}