
    .atas-login{
        background-color: black;
        height: 200px;
        width: 100%;
    }


    .logo-nama{
         color: white;
         padding-top: 50px!important;
     }
     .logo-atas{
         width: 50px;
     }
     .nama-atas{
         margin-left: 10px;
         width: 108px;
         text-align: left;
         margin-top: auto;
         margin-bottom: auto;
         font-size: 10px;
     }


    


